.hero {
  height: 70vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/nav_bar.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: white;
}

.hero-content h2 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.her-btn {
  display: inline-block;
  padding: 15px 4Opx;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 1.1rem;
}

.her-btn:hover {
  background: white;
  color: #2c3e50;
}

/* sections communes */
section-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 60px 0 20px;
  color: #2c3e50;
}

section-title span {
  color: #d35400;
}
