body {
  background-color: #2b2b2b;
}

.menus_page {
  background-color: #2f3437;
  padding: 2rem 1rem; /*espace interne normal */
  color: #fff;
  text-align: center;
  margin-top: 0;
  /* padding-top: 80px; */
}

.menus_page h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #ccc;
  margin-bottom: 3rem;
}

/* grille menu */
.menus_grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /*pour ajuster les bloc*/
  justify-content: center;
}

/* carte */

.menu_card {
  max-width: 320px;
  margin: auto;
  height: 420px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  color: #333;
  overflow: hidden;
  box-shadow: 0 10px 25 px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.menu_card:hover {
  transform: translateY(-8px);
}

/* image */

.menu_image img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  overflow: hidden;
}

/* contenu */
.menu_content {
  flex: 1;
  /* display: flex; */
  flex-direction: column;
  padding: 18px 20px 22px;
  text-align: left;
  min-height: 190px;
}

.menu_content h3 {
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
  line-height: 1.3;
}

.menu_content p {
  color: #555;
  margin-bottom: 1.4rem;
  font-size: 0.9rem;
  line-height: 1.5;
  flex-grow: 1;
}

/* bouton */
.btn {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: #cf711f;
}

.service-time {
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
  color: #777;
  margin-top: 4px;
}

/* .footter-separator {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0 30px;
} */

@media (max-width: 992px) {
  .menus_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .menus_grid {
    grid-template-columns: 1fr;
  }

  .menu_card {
    height: auto;
  }
}
